:root {
  --main-white: #F9FFFF;
  --main-teal: #00979E;
  --main-black: #070B0C;
  --main-gray: #858585;
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media screen and (max-width: 61.25em) {
  html {
    font-size: 55% !important;
  }
  .home{
    background: url(img/icon-mini.png), var(--main-gray) !important;
    background-position: center!important;
    background-repeat: no-repeat!important;
  
  
  }
  .left-about-me,.credentials, .contact-section{
      float:none !important;
      width:  100%  !important;
      justify-content: center !important;
  }
  .left-about-me h1,.credentials h1, .contact-section h1{
    padding-right: 4% !important;
    font-size: 60px !important;
}
  .about_context,.credential-context ,.contact-context{
      float:none !important;
      width: 100%   !important;
  }
  nav {
    visibility: collapse;
  }
  .mid{
  visibility: collapse;
}
.sidenav {
  padding-top: 15px;
}
.sidenav a {
  font-size: 18px;
}
.hamburger-menu{
  visibility: visible !important;
}
}

/* 460px / 16px = 28.75em */
@media screen and (max-width: 28.75em) {
  html {
    font-size: 55% !important;
  }
  
    .home{
      background: url(img/icon-mini.png), var(--main-gray) !important;
      background-position: center!important;
      background-repeat: no-repeat!important;
    
    
    }
 
  .left-about-me,.credentials, .contact-section{
      float:none !important;
      width:  100%  !important;
      justify-content: center !important;
  }
  .left-about-me h1,.credentials h1, .contact-section h1{
  padding-right: 6% !important;
   font-size: 60px !important;
   margin-left:  0!important;
}
  .about_context,.credential-context ,.contact-context{
      float:none !important;
      width: 100%   !important;
  }
  nav {
    visibility: collapse;
  }
  .mid{
  visibility: collapse;
}
.sidenav {
  padding-top: 15px;
}
.sidenav a {
  font-size: 18px;
}
.hamburger-menu{
  visibility: visible !important;
}
.p-contact{

  font-size: 2.4rem;
}
.contact-context p, .mailto ,.contact-context h1, .p-contact{

  text-decoration: none !important;
  font-size: 2rem !important;
  padding-right: 5% !important;
  margin-left: 13%!important;


}
}

/*default css*/
/*home section*/
.home{
  background: url(img/icon.png), var(--main-gray);
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.home nav{
  text-align: center;
  padding-top:85vh;
  
}
.home a, span{
  padding-left: 25px;
  font-size: 25px;
  color: #12dbd5 !important;
  text-decoration: none;
}
/*about me section*/


.left-about-me{
  width: 50%;
  height:100vh;
  background: var(--main-teal);
  float: left;
  justify-content: center;
  }

  .left-about-me nav{
      text-align: center;
      padding-top:10vh;
      
  }
  .left-about-me a, .s-about-me{
      padding-left: 25px;
      font-size: 20px;
      color:var(--main-white) !important;
      text-decoration: none;
  }
  .left-about-me h1{
      font-size: 75px;
      padding-top: 50vh;
      padding-left: 17px;
      text-align: center;
      color: var(--main-white);
  }


.about_context{
    width:50%;
    height:100vh;
    background-color: var(--main-white);
    float: right;
    justify-content: center;
    text-align: left;
 

  }

  .about_context p,
    .about_context h3, 
    .credential-context p, 
    .credential-context h3
   {
    font-size: 20px;  
     margin-left:13%;
     margin-right:10%;
  }


.p-intro {

        margin-top: 15vh;
    
        
  }
  .about_context h3{
   
    margin-top: 5vh;

   
  }
.p-about-me, .credential-context p{

    margin-top: 1vh !important;
       
}
.mid img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  float: left ;

}
.mid
{
padding-top: 15vh;
margin-left: 44%;
margin-right: auto;
border-radius: 50%;
float: left;
    position: absolute;
z-index: 2;
height: 150px;

}
/*Credential Section*/

.credentials{
  width: 50%;
  height:100vh;
  background: var(--main-white);
  float: left;
  justify-content: center;

 
  }

  .credentials nav{
      text-align: center;
      padding-top:10vh;
      
  }

  .credentials a, .credentials span{
      padding-left: 25px;
      font-size: 20px;
      color:var(--main-black) !important;
      text-decoration: none;
    
  }
    

  .credentials h1{
      font-size: 75px;
      padding-top: 50vh;
      padding-left: 17px;
      text-align: center;
      color: var(--main-black);
      
  }
.credential-context{
 
  width:50%;
  height:100vh;
  background-color: var(--main-white);
  float: right;
  justify-content: center;
  text-align: left;
  overflow-y: auto;
  z-index: 2;
  

}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
.credential-context h3{
 padding-top: 30vh;
}
.fcc,.nc3-vgd, .rics-cwd, .award{
  position: relative;
  
 width: 100%;

}

.credential-context img{
  width: 100%;
  height: 450px;

}
  
  .credential-context .img-text{
    position: absolute;
    right: 0;
    bottom:0;
    background: var(--main-black);
    color: var(--main-white);
    margin-bottom: 5px;
    font-family: sans-serif;
   opacity: 0;
   visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
    height: 450px;
    width: 100%;
    
  }

  .fcc:hover .img-text{
    visibility: visible;
 opacity: 0.7; 
}.nc3-vgd:hover .img-text{
    visibility: visible;
 opacity: 0.7; 
} .rics-cwd:hover .img-text{
    visibility: visible;
 opacity: 0.7; 
} 
  .award:hover .img-text{
       visibility: visible;
    opacity: 0.7; 
   }
    
  
 
  /*contact sections*/
 
  .contact-section{
      width: 50%;
      height:100vh;
      background: var(--main-black);
      float: left;
      justify-content: center;
      }
    
      .contact-section nav{
          text-align: center;
          padding-top:10vh;
          
      }
   
      .contact-section a, .one span{
          padding-left: 25px;
          font-size: 20px;
          color:var(--main-white) !important;
          text-decoration: none;
      }

      .contact-section h1{
          font-size: 75px;
          padding-top: 50vh;
          padding-left: 17px;
          text-align: center;
          color: var(--main-white);
      }
      
/*beta*/
#contacts,#credential{
  width: 100%;
 

 float: left; 
}
.contact-section span{
  color: var(--main-white) !important;
}
.contact-context{
  height: 100vh;
  float: right;
  justify-content: left;
  text-align: left;
  width: 50%;
}
.p-contact{

  font-size: 2.4rem;
}
.contact-context p, .mailto ,h1, .p-contact{
  padding-top: 10vh;
  text-decoration: none !important;
  font-size: 2.4rem;
  margin-left: 75px;

}
.mailto{
  color: #12dbd5;
}

i{
  font-size: 3rem !important;
  margin-left: 13%;
  padding-top: 5vh;
}
.contact-details {
  font-size: 2.4rem;
 text-decoration: none !important;
 color: var(--main-black);

  
}

/*Footer*/

.copyright{
  height: 100vh;
  width: 100%;
  background-color: var(--main-teal);
  float: left;
  justify-content: center;
}

/*hamburger menu*/
.hamburger-menu{
  margin-top: 3vh;
  margin-left: 1vh;
  float:left;
 position:fixed;
  top: 3vh;
 visibility: collapse;
 z-index: 1;
}

/*sidenav*/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: var(--main-teal);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align:center;
  
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--main-white);
  display: block;
  transition: 0.3s;

}

.sidenav a:hover{
  color: var(--main-black);
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}